-i https://pypi.org/simple/
appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
autopep8==1.5.3
barenecessities==0.2.8
bcrypt==3.1.7
black==19.10b0
blinker==1.4
certifi==2020.6.20
cffi==1.14.0
click==7.1.2
cloudinary==1.21.1
dnspython==1.16.0
email-validator==1.1.1
flask-bcrypt==0.7.1
flask-login==0.5.0
flask-mail==0.9.1
flask-mongoengine==0.9.5
flask-pymongo==2.3.0
flask-wtf==0.14.3
flask==1.1.2
idna==2.9
is-safe-url==1.0
isort==4.3.21
itsdangerous==1.1.0
jinja2==2.11.3
lazy-object-proxy==1.4.3
mail==2.1.0
markupsafe==1.1.1
mccabe==0.6.1
mongoengine==0.20.0
passlib==1.7.2
pathspec==0.8.0
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.3
pymongo==3.10.1
regex==2020.6.8
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.26.5
werkzeug==1.0.1
wrapt==1.12.1
wtforms==2.3.1
