{% extends 'layout/base.html' %}
{% block content %}
<div class="entry-container">
    <div class="entry">
        <form action="" method="post" id="entry-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-9">
                    <!-- Favorite checkbox -->
                    <div class="favorite-container">
                        <label for="is_fav" class="fav-label">
                            {{ form.is_fav(checked = entry.is_fav) }}
                            <span class="heart-icon"></span>
                            <span class="sr-only">Add to favorites</span>
                        </label>
                    </div>
                    <!-- Review Name -->
                    {{ form.name(class="form-control review-name") }}
                    <div id="name-feedback" class="update-feedback"></div>
                </div>
                <!-- Delete Review -->
                <div class="col-sm-3 text-sm-right align-middle pt-sm-3 pl-2 pr-4 pb-2 delete-entry">
                    <a href="{{ url_for('delete', entry_id = entry._id) }}"><span
                            class="material-icons delete-btn">delete</span>Delete</a>
                </div>
            </div>

            <div class="row">
                <!-- Review Image -->
                <div class="col-md-6">
                    <label class="image-selector" for="image">
                        <div class="overlay-container">
                            <img src="{{entry.image}}" class="entry-image" alt="{{entry.name}}">
                            <div class="image-overlay">
                                <div class="overlay-text"><span class="material-icons new-image-icon">
                                        wallpaper
                                    </span><br>Choose a New Image
                                </div>
                            </div>
                        </div>
                        {{ form.image }}
                        <div id="image-feedback" class="update-feedback"></div>
                    </label>
                </div>
                <div class="col-md-6">
                    <div>
                        <!-- Review Description -->
                        {{ form.description(class="form-control review-description") }}
                        <div id="description-feedback" class="update-feedback"></div>
                    </div>
                    <!-- Rating -->
                    <div class="rating-container">
                        <div class="d-inline-block"><span class="entry-subtitle">Rating:</span></div>
                        <div class="star-rating d-inline-block">
                            <fieldset class="form-check form-check-inline">
                                {% for subfield in form.rating %}
                                {{ subfield }}
                                {{ subfield.label }}
                                {% endfor %}
                            </fieldset>
                        </div>
                    </div>
                    <div id="rating-feedback" class="update-feedback"></div>
                    <!-- Tags -->
                    <div> <span class="entry-subtitle">Tags:</span>
                        <div class="mb-2" id="view-tags-container">
                            <div id="view-tags" class="d-inline-block">
                                {% if entry.tags %}
                                {% for tag in entry.tags %}
                                <a id="tag{{ loop.index }}" class="view-tag badge badge-pill badge-primary tag"
                                    href="{{ url_for('listing', tag = tag) }}">{{ tag }}</a>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <span class="badge badge-pill badge-primary tag light-tag" id="edit-tags-btn">edit
                                tags</span>
                            <div id="tags-feedback" class="update-feedback"></div>
                        </div>

                        <div class="mb-2" id="edit-tags">
                            {% if entry.tags %}
                            {% for tag in entry.tags %}
                            <span id="edit-tag-{{loop.index}}"
                                class="badge badge-pill badge-primary tag delete-tag">{{tag}}
                                <span class="material-icons">cancel</span></span>{% endfor %}
                            {% endif %}
                            <span id="new-tag" class="badge badge-pill badge-primary light-tag add-tag"><span
                                    class="material-icons">control_point</span> new
                                tag</span>
                            <div>
                                <span id="save-tag-btn"
                                    class="badge badge-pill badge-primary tag light-tag save-tag"><span
                                        class="material-icons">save</span> save tags</span>
                            </div>
                        </div>
                        {{ form.hidden_tags }}
                        {{ form.hidden_id }}
                    </div>
                    <!-- Creation / Update Time -->
                    <p><small class="text-muted timestamp">{% if entry.updated_on %}
                            Last updated on {{ entry.updated_on.strftime("%m/%d/%Y, %H:%M:%S") }}
                            {% else %}
                            Created on {{ entry.created_on.strftime("%m/%d/%Y, %H:%M:%S") }}
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
    </div>
    </form>
</div>


{% endblock %}