{% extends 'layout/base.html' %}
{% block content %}
<div class="entry-container">
    <div class="entry">
        <form>
            <div class="row">

                <div class="col-sm-9">
                    <div class="favorite-container">
                        <label for="favorite" class="fav-label">
                            <input type="checkbox" id="favorite" />
                            <span class="heart-icon"></span>
                            <span class="sr-only">Add to favorites</span>
                        </label>
                    </div>
                    <!--<input type="text" value="Review Name" id="review-name" maxlength="25"> -->
                    <textarea class="form-control review-name" data-expandable name="title" id="review-name"
                        maxlength="30" rows="1" spellcheck="false">Review Name</textarea>
                </div>
                <div class="col-sm-3 text-sm-right align-middle pt-sm-3 pl-2 pr-4 pb-2 delete-entry">
                    <a href="#"><span class="material-icons delete-btn">delete</span>Delete</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="http://placeimg.com/640/480/any" class="card-img" alt="alt image">
                </div>
                <div class="col-md-6">
                    <div><textarea class="form-control review-description" data-expandable name="description"
                            id="review-description" maxlength="500" rows="1"
                            spellcheck="false">This is the full review for this item. It is a long text and it has plenty of nice things in store for all of us.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit dui, finibus ut vulputate vehicula, laoreet in mi. Nunc posuere sem bibendum, bibendum erat ac, condimentum metus.</textarea>


                        <div class="mb-2"><strong>Rating:</strong>
                            <span class="rating">
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star_half
                                </span>
                                <span class="material-icons">
                                    star_outline
                                </span>
                            </span>
                        </div>
                        <div class="mb-2">
                            <strong>Tags:</strong>
                            <span class="badge badge-pill badge-primary tag"><a href="{{url_for('listing')}}">food
                                </a><a href="{{url_for('search')}}"> <span
                                        class="material-icons delete-tag">cancel</span></a></span>
                            <span class="badge badge-pill badge-primary tag"><a href="{{url_for('listing')}}">drink
                                </a><a href="{{url_for('search')}}"> <span
                                        class="material-icons delete-tag">cancel</span></a></span>
                            <span class="badge badge-pill badge-primary tag"><a href="{{url_for('listing')}}">yogurt
                                </a><a href="{{url_for('search')}}"> <span
                                        class="material-icons delete-tag">cancel</span></a></span>


                            <a href="{{url_for('search')}}"><span class="badge badge-pill badge-primary add-tag"><span
                                        class="material-icons">control_point</span> new tag</span></a>

                        </div>
                        <p><small class="text-muted">Last updated on 15/06/20</small></p>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}