{% extends 'layout/base.html' %}
{% block content %}
<div class="entry-container">
    <div class="entry">
        <form action="" method="post">
            <div class="row">

                <div class="col-sm-9">
                    <!-- Favorite checkbox -->
                    <div class="favorite-container">
                        <label for="favorite" class="fav-label">
                            <input type="checkbox" id="favorite" {% if entry.is_fav %} checked {% endif %} />
                            <span class="heart-icon"></span>
                            <span class="sr-only">Add to favorites</span>
                        </label>
                    </div>
                    <!-- Review Name -->
                    <textarea class="form-control review-name" data-expandable name="title" id="review-name"
                        maxlength="30" rows="1" spellcheck="false">{{entry.name}}</textarea>
                </div>
                <!-- Delete Review -->
                <div class="col-sm-3 text-sm-right align-middle pt-sm-3 pl-2 pr-4 pb-2 delete-entry">
                    <a href="{{ url_for('delete', entry_id = entry._id) }}"><span
                            class="material-icons delete-btn">delete</span>Delete</a>
                </div>
            </div>

            <div class="row">
                <!-- Review Image -->
                <div class="col-md-6">
                    <label class="image-selector" for="image-input">
                        <div class="overlay-container">
                            <img src="{{entry.image}}" class="entry-image" alt="{{entry.name}}">
                            <div class="image-overlay">
                                <div class="overlay-text"><span class="material-icons new-image-icon">
                                        wallpaper
                                    </span><br>Choose a New Image
                                </div>
                            </div>
                        </div>
                        <input type="file" capture id="image-input" name="new-image" accept="image/*">

                    </label>
                </div>
                <div class="col-md-6">
                    <div>
                        <!-- Review Description -->
                        <textarea class="form-control review-description" data-expandable name="description"
                            id="review-description" maxlength="500" rows="1"
                            spellcheck="false">{{entry.description}}</textarea>
                    </div>
                    <!-- Rating -->
                    <div class="rating-container">
                        <div class="d-inline-block"><span class="entry-subtitle">Rating:</span></div>
                        <div class="star-rating d-inline-block">
                            <fieldset class="form-check form-check-inline">
                                <input type="radio" id="star5" name="rating" value="5"
                                    {% if entry.rating == 5 %}checked{% endif %} /><label for="star5"
                                    title="Outstanding">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4"
                                    {% if entry.rating == 4 %}checked{% endif %} /><label for="star4"
                                    title="Very Good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3"
                                    {% if entry.rating == 3 %}checked{% endif %} /><label for="star3" title="Good">3
                                    stars</label>
                                <input type="radio" id="star2" name="rating" value="2"
                                    {% if entry.rating == 2 %}checked{% endif %} /><label for="star2" title="Poor">2
                                    stars</label>
                                <input type="radio" id="star1" name="rating" value="1"
                                    {% if entry.rating == 1 %}checked{% endif %} /><label for="star1"
                                    title="Very Poor">1 star</label>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Tags -->
                    <div> <span class="entry-subtitle">Tags:</span>
                        <div class="mb-2" id="view-tags-container">
                            <div id="view-tags" class="d-inline-block">
                                {% for tag in entry.tags %}
                                <a id="tag{{ loop.index }}" class="view-tag badge badge-pill badge-primary tag"
                                    href="{{ url_for('listing', tag = tag) }}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <span class="badge badge-pill badge-primary tag light-tag" id="edit-tags-btn">edit
                                tags</span>
                        </div>

                        <div class="mb-2" id="edit-tags">
                            {% for tag in entry.tags %}
                            <span id="edit-tag-{{loop.index}}"
                                class="badge badge-pill badge-primary tag delete-tag">{{tag}}
                                <span class="material-icons">cancel</span></span>{% endfor %}
                            <span id="new-tag" class="badge badge-pill badge-primary light-tag add-tag"><span
                                    class="material-icons">control_point</span> new
                                tag</span>
                            <div>
                                <span id="save-tag-btn"
                                    class="badge badge-pill badge-primary tag light-tag save-tag"><span
                                        class="material-icons">save</span> save changes</span>
                            </div>
                        </div>
                    </div>
                    <!-- Creation / Update Time -->
                    <p><small class="text-muted">{% if entry.updated_on %}
                            Last updated on {{ entry.updated_on }}
                            {% else %}
                            Created on {{ entry.created_on }}
                            {% endif %}
                        </small>
                    </p>

                </div>
            </div>
    </div>
    </form>
</div>
</div>

{% endblock %}