{% extends 'layout/base.html' %}
{% block content %}
<h3>Listing</h3>

<div class="card-deck">

    {% for entry in entries %}
    <div class="card">
        {% if entry.image %}
        <a href="{{url_for('entry')}}"><img src="{{ entry.image }}" class="card-img-top" alt="alt text"></a>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                {% if entry.is_fav %}
                <span class="material-icons fav">
                    favorite
                </span>
                {% endif %}

                <a href="{{url_for('entry')}}">{{ entry.name }}</a>
            </h5>
            <p class="card-text">{{ entry.description[:75] }}...</p>
            <p class="card-text" aria-hidden="true">Rating:
                <span class="rating">
                    {% for i in range(5) %}
                    {% if loop.index <=  entry.rating %}
                    <span class="material-icons">
                        star
                    </span>
                    {% else %}
                    <span class="material-icons">
                        star_outline
                    </span>
                    {% endif %}
                    {% endfor %}
                </span>
            </p>
            <span class="sr-only">Rating: {{ entry.rating }}/5</span>
            <p class="card-text">
                <small>Tags: </small>
                {% for tag in entry.tags %}
                <a href="{{url_for('listing')}}"><span class="badge badge-pill badge-primary">{{tag}}</span></a>
                {% endfor %}</p>
        </div>
        <div class="card-footer">
            {% if entry.updated_on %}
            Last updated on {{ entry.updated_on }}
            {% else %}
            Created on {{ entry.created_on }}
            {% endif %}
            <span class="material-icons delete-btn">delete</span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}