{% extends 'layout/base.html' %}
{% block content %}
{% if entry_count > 0 %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages  %}
<div class="alert alert-{{ category }} fade show alert-dismissible" role="alert">{{ message }}<button type="button"
        class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<h1 class="page-title">
    {% if tag %}
    Reviews tagged as {{ tag }}
    {% else %}
    All Reviews
    {% endif %}
</h1>

<div class="card-deck">

    {% for entry in entries %}
    <div class="card">
        {% if entry.image %}
        <a href="{{ url_for('entry', entry_id = entry._id) }}">
            <img src="{{ entry.image }}" class="card-img-top" alt="alt text">
        </a>
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">
                {% if entry.is_fav %}
                <span class="material-icons fav">
                    favorite
                </span>
                {% endif %}

                <a href="{{url_for('entry', entry_id = entry._id)}}">{{ entry.name }}</a>
            </h2>
            {% if entry.image %}
            <p class="card-text">{{ entry.description|truncate(75, end='…') }}</p>
            {% else %}
            <p class="card-text">{{ entry.description|truncate(150, end='…') }}</p>
            {% endif %}

            <p class="card-text" aria-hidden="true">Rating:
                <span class="rating d-inline-block">
                    {% for i in range(5) %}
                    {% if loop.index <=  entry.rating %}
                    <span class="material-icons">
                        star
                    </span>
                    {% else %}
                    <span class="material-icons">
                        star_outline
                    </span>
                    {% endif %}
                    {% endfor %}
                </span>
            </p>
            <span class="sr-only">Rating: {{ entry.rating }}/5</span>
            <p class="card-text">
                {% if entry.tags %}
                <span class="small-title">Tags: </span>
                {% for tag in entry.tags %}
                <a href="{{url_for('listing', tag=tag)}}" class="badge badge-pill badge-primary">{{tag}}</a>
                {% endfor %}
                {% endif %}
            </p>

        </div>
        <div class="card-footer">
            {% if entry.updated_on %}
            Last updated on {{ entry.updated_on.strftime("%d/%m/%Y") }}
            {% else %}
            Created on {{ entry.created_on.strftime("%d/%m/%Y") }}
            {% endif %}
            <a href="{{ url_for('delete', entry_id = entry._id) }}"><span
                    class="material-icons delete-btn">delete</span></a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-6">
        {% if prev_url %}
        <a href="{{ prev_url }}">
            <span class="material-icons">chevron_left</span>
            Previous</a> {% endif %}
    </div>
    <div class="col-6 text-right">
        {% if next_url %}
        <a href="{{ next_url }}"> Next <span class="material-icons">
                chevron_right</span>
        </a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="entry-container">
    <div class="entry text-center">
        <h1 class="page-title">Welcome to Squirrel!</h1>
        <p>Looks like you haven't stored anything yet.</p>
        <p>Click <a href="{{url_for('new_entry')}}">here</a> to add a new review!</p>
        <a href="{{url_for('listing')}}"><img class="error-image"
                src="{{url_for('static', filename='img/image-placeholder.png')}}"></a>
    </div>
</div>

{%endif%}


{% endblock %}