{% extends 'layout/base.html' %}
{% block content %}
<h1 class="page-title">Add Entry</h1>

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}

            {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {% if form.description.errors %}
            {{ form.description(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group rating-container">
            <div class="inline-block"><span class="entry-subtitle">Rating: </span></div>
            <div class="star-rating d-inline-block">
                <fieldset class="form-check form-check-inline">
                    {% for subfield in form.rating %}

                    {{ subfield }}
                    {{ subfield.label }}

                    {% endfor %}
                </fieldset>
            </div>
        </div>
        {% if form.rating.errors %}
        <div class="invalid-feedback d-block" id="rating-feedback">
            {% for error in form.rating.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}


        <div class="form-check">
            {{ form.is_fav(class="form-check-input")}}
            {{ form.is_fav.label(class="form-check-label")}}
        </div>

        <div class="custom-file">
            {{ form.image.label }}
            {% if form.image.errors %}
            {{ form.image(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.image.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.image }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.tags.label(class="form-control-label") }}

            {% if form.tags.errors %}
            {{ form.tags(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.tags(class="form-control form-control-lg") }}
            {% endif %}
        </div>

    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>


{% endblock %}