@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poiret+One&family=Raleway&display=swap");

/* GENERAL */

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #343a40;
}

a {
    color: #a99279;
}

a:hover {
    color: #997f62;
}

.btn-primary {
    color: #a99279;
    background-color: transparent;
    border-color: #a99279;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a99279;
    border-color: #a99279;
}

/* Navigation */

.logo {
    font-family: "Poiret One", sans-serif;
    font-size: 2.8rem;
}

.bg-primary {
    background-color: #98afc7 !important;
}

/* Review Cards  */

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0.5rem;
}

.card .delete-btn {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.card .delete-btn:hover {
    color: #343a40;
}

.card .fav {
    color: #ff69b4;
    position: relative;
    top: 4px;
}

.card .rating {
    color: #ffaa1d;
    position: relative;
    top: 4px;
}

.badge-primary {
    background-color: #a99279;
}
