/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poiret+One&family=Raleway&Material+Icons&display=swap");

/* GENERAL */

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    height: 100%;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #343a40;
}

h1.page-title {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

h2.card-title {
    font-size: 1.25rem;
}

.small-title {
    font-size: 80%;
}

a {
    color: #a99279;
}

a:hover {
    color: #997f62;
}

.btn-primary {
    color: #a99279;
    background-color: transparent;
    border-color: #a99279;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #a99279;
    border-color: #a99279;
}

.material-icons {
    vertical-align: middle;
    font-size: inherit;
}
/* Login Page */

.login-image {
    width: 12rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* Navigation */

.logo {
    font-family: "Poiret One", sans-serif;
    font-size: 2.8rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
}

.logo-image {
    margin: 0 auto;
    height: 2.5rem;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.bg-primary {
    background-color: #535f6b !important;
}

.login-info {
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 1rem;
}

.logout-info {
    font-size: 0.8rem;
    color: #fff;
    margin-top: 1rem;
}

.search-container {
    height: 2.5rem;
}

.search-input {
    width: 80%;
    margin: 0;
    height: 100%;
    border: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.5rem;
}

.search-button {
    width: 20%;
    font-size: 1.5rem;
    margin: 0;
    height: 100%;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    background-color: #a99279;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.search-button:hover {
    background-color: #997f62;
}

/* Review Cards in listing  */
.card-img-top {
    max-height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.rating {
    color: #ffaa1d;
    font-size: 1.5rem;
}

.card-deck {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5rem;
}

.card-deck .card {
    margin-bottom: 1rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 14px 20px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -14px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.card-footer {
    font-size: 0.8rem;
    background-color: #fff;
}

.card .delete-btn {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #6c757d;
}

.card .delete-btn:hover {
    color: #343a40;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.fav {
    color: #ff69b4;
}

.entry .fav {
    font-size: 2rem;
    vertical-align: sub;
    cursor: pointer;
}

/* Search Listing */

.search-entry p {
    margin: 0;
}

.search-entry img {
    max-height: 10rem;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Add a New Review */

.new-fav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.new-fav-label {
    position: relative;
    top: -0.4rem;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file-label::after,
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Choose Image";
}

/* Entry Review Page */

.entry-container {
    margin-top: 2rem;
}

.delete-entry {
    text-transform: uppercase;
}

.entry .delete-btn {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.delete-entry a:hover .delete-btn {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.delete-link {
    color: #6c757d;
}

.delete-link:hover {
    color: #343a40;
}

/* Favorite */
.favorite-container {
    position: absolute;
}

#is_fav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
}

#is_fav + .heart-icon::before {
    font-weight: 400;
    font-family: "Material Icons";
    display: inline-block;
    font-size: 2rem;
    vertical-align: sub;
    color: #ff69b4;
    cursor: pointer;
    content: "favorite_border";
}

#is_fav:checked + .heart-icon::before {
    content: "favorite";
}

#is_fav + .heart-icon:active::before {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* Review Text */
.review-name {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #343a40;
    font-size: 2rem;
    text-transform: uppercase;
    width: 90%;
    margin-left: 2.2rem;
}

.review-description {
    padding: 0;
}

.review-description,
.review-name {
    background: transparent;
    border: 0;
}

.entry textarea[data-expandable] {
    cursor: pointer;
    resize: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.entry textarea[data-expandable]:hover {
    color: #997f62;
    background-color: #e9e9e9;
}

.entry textarea[data-expandable]:focus {
    cursor: text;
}

.tooltip-inner {
    background-color: #535f6b;
}

.tooltip .arrow:before {
    border-top-color: #535f6b;
}

/* Image and image selector */

.overlay-container {
    position: relative;
    width: 100%;
}

.entry-image {
    display: block;
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: #000;
    cursor: pointer;
    z-index: 2;
}

.overlay-container:hover .image-overlay {
    opacity: 0.5;
}

.overlay-text {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.new-image-icon {
    font-size: 200%;
}

.entry #image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
}

/* Tags */

.badge {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.badge:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.badge-primary {
    background-color: #a99279;
}

a.badge-primary:hover {
    background-color: #997f62;
}

.entry .tag {
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.entry .delete-tag {
    padding-right: 0.4rem;
    border: 0;
}

.view-tag {
    border: 0;
}

.entry .tag a {
    color: #fff;
}
.entry .tag a:hover {
    color: #fff;
    text-decoration: none;
}

.light-tag {
    font-size: 1rem;
    border: 1px solid #a99279;
    background-color: transparent;
    color: #a99279;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.light-tag:hover {
    border: 1px solid #997f62;
    color: #997f62;
    background-color: transparent;
}

.light-tag a:hover {
    text-decoration: none;
}

.add-tag {
    padding-left: 0.4rem;
}

.save-tag {
    padding-left: 0.4rem;
    border: 1px solid #8abaae;
    color: #8abaae;
}
.save-tag:hover {
    border-color: #2e856e;
    color: #2e856e;
}

.badge-input {
    border: 0;
    width: 80px;
}

.badge-input::-webkit-input-placeholder {
    color: #ccc;
}

.badge-input::-moz-placeholder {
    color: #ccc;
}

.badge-input:-ms-input-placeholder {
    color: #ccc;
}

.badge-input::-ms-input-placeholder {
    color: #ccc;
}

.badge-input::placeholder {
    color: #ccc;
}

.width-machine {
    opacity: 0;
}

/* Star Rating, inspired by Adam Orchard https://codepen.io/orchard/pen/Jnwvb  */
.rating-container {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.star-rating {
    font-family: "Material Icons";
    display: inline-block;
}

.star-rating > fieldset {
    border: none;
    display: inline-block;
    position: relative;
}
.star-rating > fieldset:not(:checked) > input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
}
.star-rating > fieldset:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 0.05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #ffaa1d;
    position: relative;
    margin-bottom: 0;
}
.star-rating > fieldset:not(:checked) > label:before {
    content: "star_outline";
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
    color: #ffaa1d;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
    content: "star";
}
.star-rating > fieldset > input:checked ~ label:before {
    content: "star";
}
.star-rating > fieldset > label:active {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.star-rating > fieldset > label:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* Update feedback */

#name-feedback {
    position: relative;
    top: -0.8rem;
    left: 3rem;
}

#rating-feedback {
    position: relative;
    top: -0.6rem;
}

.update-feedback {
    font-size: 80%;
}

.valid-update {
    color: #28a745;
}

.invalid-update {
    color: #dc3545;
}

/* 404 page*/

.error-image {
    width: 50%;
    margin: 0 auto;
}

/* Media Queries */

@media (min-width: 992px) {
    .entry-container {
        margin-top: 0;
        padding: 5% 0;
    }

    .entry {
        padding: 10% 0;
    }

    .login-form {
        width: 50%;
    }
}
