<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'layout/header.html' %}
	<title>squirrel - {{title}}</title>
</head>

<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top text-center" id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="{{url_for('listing')}}">
			<div class="d-block logo"><img src="{{url_for('static', filename='img/acorn-logo.png')}}"
					class="logo-image d-inline-block d-lg-block" alt="Squirrel Logo">
				squirrel</div>
		</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
				class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav text-center">
				{% if current_user.is_authenticated %}
				<li class="nav-item"><a class="nav-link" href="{{url_for('listing')}}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{{url_for('new_entry')}}">+ New Review</a></li>
				<li>
					<form class="form-inline search-container" action="{{url_for('get_search')}}" method="POST">
						<input class="search-input" type="search" placeholder="Enter a search term" aria-label="Search"
							name="search_field" required>
						<button type="submit" class="search-button"><span class="material-icons">
								search
							</span></button>
					</form>
				</li>
				<li class="logout-info">logged in as {{current_user.username}}<a class="nav-link"
						href="{{url_for('logout')}}">(log out)</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Log In</a></li>
				<li class="nav-item"><a class="nav-link" href="{{url_for('register')}}">Create an Account</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<!-- Page Content-->
	<div class="container-fluid p-4">

		{% block content %} {% endblock %}

	</div>

	{% include 'layout/scripts.html' %}
</body>

</html>