<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'layout/header.html' %}
	<title>squirrel - {{title}}</title>
</head>

<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="{{url_for('listing')}}">
			<div class="d-block logo"><img src="{{url_for('static', filename='img/acorn-logo.png')}}"
					class="logo-img d-inline-block d-lg-block">
				squirrel</div>
		</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
				class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="{{url_for('listing')}}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{{url_for('new_entry')}}">New Review</a></li>
				<li class="nav-item"><a class="nav-link" href="{{url_for('search')}}">Search</a></li>
				<li class="nav-item"><a class="nav-link" href="{{url_for('profile')}}">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Log Out</a></li>
			</ul>
		</div>
	</nav>
	<!-- Page Content-->
	<div class="container-fluid p-4">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages  %}
		<div class="alert alert-{{ category }}">{{ message }}</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		{% block content %} {% endblock %}

	</div>

	{% include 'layout/scripts.html' %}
</body>

</html>